<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073617533522-v3sb6sr4q7rafcnuo6mim3kgihf7gie3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073617533522-v3sb6sr4q7rafcnuo6mim3kgihf7gie3</string>
	<key>API_KEY</key>
	<string>AIzaSyC-FDYlvWlrhm_Ox1FDnqkza3JlB9SUX0k</string>
	<key>GCM_SENDER_ID</key>
	<string>1073617533522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coronislabs.Olympsis</string>
	<key>PROJECT_ID</key>
	<string>diesel-nova-366902</string>
	<key>STORAGE_BUCKET</key>
	<string>diesel-nova-366902.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073617533522:ios:e210ce550a1c540b60bd8b</string>
</dict>
</plist>