<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<string>NO</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string></string>
	</dict>
	<key>CHAT</key>
	<string>chat.olympsis.com</string>
	<key>DEBUG_HOST</key>
	<string>localhost</string>
	<key>Enable Multiple Windows</key>
	<false/>
	<key>HOST</key>
	<string>api.olympsis.com</string>
	<key>STORAGE</key>
	<string>storage-p3dy744wqq-uc.a.run.app</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSPrivacyAccessedAPITypes</key>
	<dict>
		<key>NSPrivacyAccessedAPIType</key>
		<string>NSPrivacyAccessedAPICategoryUserDefaults</string>
		<key>NSPrivacyAccessedAPITypeReasons</key>
		<array>
			<string>CA92.1</string>
		</array>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INSendMessageIntent</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Olympsis requires the ability to send you notifications to remind you of events you&apos;ve responded to, potential events you might be intrested in and other statuses within the app such as post notifications.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Olympsis requires your location to show you the venues and events that are happening in close proximity to you.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Olympsis requires access to your photos library to allow you to share images of the activites you&apos;re participating in with your friends.</string>
	<key>Scene Configuration</key>
	<dict/>
	<key>UIAppFonts</key>
	<array>
		<string>ITCAvantGardeStd-Bk.ttf</string>
		<string>ITCAvantGardeStd-BkCn.ttf</string>
		<string>ITCAvantGardeStd-BkCnObl.ttf</string>
		<string>ITCAvantGardeStd-BkObl.ttf</string>
		<string>ITCAvantGardeStd-Bold.ttf</string>
		<string>ITCAvantGardeStd-BoldCn.ttf</string>
		<string>ITCAvantGardeStd-BoldCnObl.ttf</string>
		<string>ITCAvantGardeStd-BoldObl.ttf</string>
		<string>ITCAvantGardeStd-Demi.ttf</string>
		<string>ITCAvantGardeStd-DemiCn.ttf</string>
		<string>ITCAvantGardeStd-DemiCnObl.ttf</string>
		<string>ITCAvantGardeStd-DemiObl.ttf</string>
		<string>ITCAvantGardeStd-Md.ttf</string>
		<string>ITCAvantGardeStd-MdCn.ttf</string>
		<string>ITCAvantGardeStd-MdCnObl.ttf</string>
		<string>ITCAvantGardeStd-MdObl.ttf</string>
		<string>ITCAvantGardeStd-XLt.ttf</string>
		<string>ITCAvantGardeStd-XLtCn.ttf</string>
		<string>ITCAvantGardeStd-XLtCnObl.ttf</string>
		<string>ITCAvantGardeStd-XLtObl.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
