<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrivacyAccessedAPITypes</key>
	<dict>
		<key>NSPrivacyAccessedAPIType</key>
		<string>NSPrivacyAccessedAPICategoryUserDefaults</string>
		<key>NSPrivacyAccessedAPITypeReasons</key>
		<array>
			<string>CA92.1</string>
		</array>
	</dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>API-KEY</key>
	<string>X0HyasjIZL6GLo7hBzwZneCQhmCIkZoW</string>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
	</array>
	<key>CHAT</key>
	<string>chat.olympsis.com</string>
	<key>DEBUG_HOST</key>
	<string>localhost</string>
	<key>Enable Multiple Windows</key>
	<false/>
	<key>HOST</key>
	<string>api.olympsis.com</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INSendMessageIntent</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>This app requires access to your location to show you nearby events and activities happening in your area. For example, if there&apos;s pick up or a tournament happening within a few miles of your current location, we can notify you about it and provide relevant details. We will also use your location to trigger location-based features when you visit specific areas or venues, such as checking in to events or receiving special offers when you arrive at a particular venue.</string>
	<key>Scene Configuration</key>
	<dict/>
	<key>UIAppFonts</key>
	<array>
		<string>ITCAvantGardeStd-Bk.ttf</string>
		<string>ITCAvantGardeStd-BkCn.ttf</string>
		<string>ITCAvantGardeStd-BkCnObl.ttf</string>
		<string>ITCAvantGardeStd-BkObl.ttf</string>
		<string>ITCAvantGardeStd-Bold.ttf</string>
		<string>ITCAvantGardeStd-BoldCn.ttf</string>
		<string>ITCAvantGardeStd-BoldCnObl.ttf</string>
		<string>ITCAvantGardeStd-BoldObl.ttf</string>
		<string>ITCAvantGardeStd-Demi.ttf</string>
		<string>ITCAvantGardeStd-DemiCn.ttf</string>
		<string>ITCAvantGardeStd-DemiCnObl.ttf</string>
		<string>ITCAvantGardeStd-DemiObl.ttf</string>
		<string>ITCAvantGardeStd-Md.ttf</string>
		<string>ITCAvantGardeStd-MdCn.ttf</string>
		<string>ITCAvantGardeStd-MdCnObl.ttf</string>
		<string>ITCAvantGardeStd-MdObl.ttf</string>
		<string>ITCAvantGardeStd-XLt.ttf</string>
		<string>ITCAvantGardeStd-XLtCn.ttf</string>
		<string>ITCAvantGardeStd-XLtCnObl.ttf</string>
		<string>ITCAvantGardeStd-XLtObl.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
