<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MKDirectionsRequest</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.maps.directionsrequest</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
	</array>
	<key>HOST</key>
	<string>api.olympsis.com</string>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array>
		<string>MKDirectionsModeCar</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>In order to notify you of local events, and club activities we need to be able to send you notifications.</string>
	<key>UIAppFonts</key>
	<array>
		<string>ITCAvantGardeStd-Bk.ttf</string>
		<string>ITCAvantGardeStd-BkCn.ttf</string>
		<string>ITCAvantGardeStd-BkCnObl.ttf</string>
		<string>ITCAvantGardeStd-BkObl.ttf</string>
		<string>ITCAvantGardeStd-Bold.ttf</string>
		<string>ITCAvantGardeStd-BoldCn.ttf</string>
		<string>ITCAvantGardeStd-BoldCnObl.ttf</string>
		<string>ITCAvantGardeStd-BoldObl.ttf</string>
		<string>ITCAvantGardeStd-Demi.ttf</string>
		<string>ITCAvantGardeStd-DemiCn.ttf</string>
		<string>ITCAvantGardeStd-DemiCnObl.ttf</string>
		<string>ITCAvantGardeStd-DemiObl.ttf</string>
		<string>ITCAvantGardeStd-Md.ttf</string>
		<string>ITCAvantGardeStd-MdCn.ttf</string>
		<string>ITCAvantGardeStd-MdCnObl.ttf</string>
		<string>ITCAvantGardeStd-MdObl.ttf</string>
		<string>ITCAvantGardeStd-XLt.ttf</string>
		<string>ITCAvantGardeStd-XLtCn.ttf</string>
		<string>ITCAvantGardeStd-XLtCnObl.ttf</string>
		<string>ITCAvantGardeStd-XLtObl.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>nearby-interaction</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
